
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thơi gian sớm nhất và giao hàng
    đúng hẹn</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "BanHang", "BanHang")
</p>

