
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="contact-page" class="container">
    <p style="text-align:justify; font-size:16px; font-weight:500; color:red">Fast Food Online</p>
    <p style="text-align:justify; font-size:16px">- Hơn 40 năm trước tại New Orleans thuộc tiểu bang Louisiana, một huyền 
    thoại ẩm thực đã ra đời. Khởi đầu từ một nhà hàng nhỏ và một ý tưởng lớn, "cơn bão" Louisiana đã "càn quét" mọi quốc gia và lan rộng khắp thế giới. </p>
    <p style="text-align:justify; font-size:16px">
        1972:
        Ông Alvin C. Copeland khai trương nhà hàng "Chicken on the Run" tại vùng ngoại ô Arabi của New Orleans, 
        chuyên phục vụ các món gà rán truyền thống của miền Nam.

        Sau một thời gian ngắn không thành công như mong đợi, Alvin đổi tên nhà hàng thành "Popeyes" 
        (đặt theo tên của nhân vật Popeye Doyle trong phim "French Connection"). Lần này ông quyết định 
        bán món gà cay theo phong cách New Orleans.
    </p>
    <img src="~/images/hero-bg.jpg" width="90%"/>
    <p style="text-align:justify; font-size:16px">
        - 1992:
        AFC Enterprises, Inc. ( trước đây là Công ty American's Favourite Chicken) được thành lập và mua lại Popeyes® và Church's Chicken®.
    </p>
    <p style="text-align:justify; font-size:16px">
        -Lần đầu tiên Popeyes có doanh số năm vượt ngưỡng 1 tỷ đôla.

        Popeyes khai trương nhà hàng thứ 1000 tại trung tâm Atlanta, 
        nơi trở thành tâm điểm thu hút đông đảo khách du lịch với sự kiện Olympic Hè 1996.
    </p>
</div>
